@{
    ViewBag.Title = "Início";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema de Gestão de Licitações</h1>
        <p class="lead">Este software destina-se a demonstração de conhecimentos em desenvolvimento de software.</p>
        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Funcionalidades</h2>
            <p>
                Nosso projeto desenvolve uma aplicação web inovadora destinada a simplificar e otimizar a gestão de processos de licitação. Com uma interface amigável e eficiente, o sistema oferece as seguintes funcionalidades chave:
            </p>
            <p>
                Cadastro de Novas Licitações: Os usuários podem facilmente adicionar novas licitações, inserindo detalhes cruciais como número da licitação, descrição, data de abertura e status atual (aberta, em andamento, fechada).

                Visualização e Gerenciamento de Licitações: A aplicação permite aos usuários visualizar todas as licitações cadastradas, com opções práticas de ordenação e filtragem, como por status ou data de abertura, facilitando o acompanhamento e a gestão.

                Atualização de Informações: Os usuários têm a capacidade de editar as informações das licitações já registradas, garantindo que os dados se mantenham atualizados e precisos.

                Remoção de Licitações: A funcionalidade de exclusão permite remover licitações do sistema de forma segura e eficiente.
            </p>
           
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 >Utilização</h2>
            <p>detalhe de utilização</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>